<ul class="book-list" *ngIf="<!--BS-->books$ | async as books<!--BE-->">
  <li *ngFor="let b of books">
    <bm-book-list-item [book]="b" [routerLink]="b.isbn"></bm-book-list-item>
  </li>
  <li *ngIf="<!--BS-->!books.length<!--BE-->">
    No books available.
  </li>
</ul>
